* {
  box-sizing: border-box;

}

body { margin: 0;

}

#page {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}


.menu {
  grid-column: 1 / 6;
  grid-row: 1;
  text-align: center;
  overflow: hidden;
  background-color: #2196F3;
 }

/* CLEARFIX */
 .menu::after {
  content: "";
  clear: both;
  display: table;
}

.menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
}

.menu a:hover {
  background-color: white;
  color: #2196F3;
}

.menu a.active {

}

.menu input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .menu a, .menu input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .menu input[type=text] {
    border: 1px solid #ccc;
  }
}

#Image {
 grid-column: 1 / 6;
 grid-row: 2;
 text-align: center;
 border:0
}

#search {
  border:0px;
  grid-column: 1/6;
  grid-row: 3;
}




.Text {
  text-align: center;
  margin: 0 auto;
  background-color: white;
  padding: 0.5em;
  margin: 0.5em;
  border:0;
}

#Text {
  text-align: center;
  grid-column: 1 / 6;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f4f4f4;
  border:0;
}

.Anuncio {
  text-align: center;
  grid-column: 1 / 6;
  grid-row: 5;
  display: grid;
}




#footer {
  grid-column: 1 / 6;
  grid-row: 6;
text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border:0;
  background-color: #2196F3;
  font-size: 15px;
  color:white;
margin-top: 100px;
position: sticky;
}

#footer-left {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border:0;
  margin:10px;
}

#cpr {
  grid-column: 1 / 6;
  grid-row: 7;
text-align: left;
font-size: 11px;
margin-right: 25px;
margin-left: 25px;
position: sticky;
}



#imges {
  grid-column: 1 / 6;
  grid-row: 8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align:right;
  position:sticky;
}

.Fimg img  {

height: 50px;
width: 50px;

}
